/* ==========================================================================
   UTILITY CLASSES
   ========================================================================== */

/*
   Visibility
   ========================================================================== */


.journal {
  background-color: #e6f2ff;
  color: #1e90ff;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.1em;  /* 调整字体大小 */
}
